.favorite 
  .shops-title
    ブックマーク店舗一覧
  .shops-boxes
    - @favorites.each do |shop|
      .shops-box
        = link_to "/shops/#{shop.id}" do
          .shops-box__pic
            = image_tag shop.shop_images.first.image.to_s, alt: 'topPage_shopPics', class: 'shop-pic'
          .shops-box__name 
            = "#{shop.shop_name}"
          .shops-box__condition
            = "上尾市 #{shop.town.town_name}"
        -if shop.condition == 0
          .shopCondition
            .shopCondition__inner
              閉店中
        -elsif shop.condition == 1
          .shopCondition#condition1
            .shopCondition__inner#condition1-text
              準備中
        -elsif shop.condition == 2
          .shopCondition#condition2
            .shopCondition__inner#condition2-text
              まもなく
              %p 開店
        -elsif shop.condition == 3
          .shopCondition#condition3
            .shopCondition__inner#condition3-text
              営業中
        -else 
        .shopCondition#condition4
          .shopCondition__inner#condition4-text
            まもなく
            %p 閉店