.main 
  .main__appBanner1
    .banner
      .banner__text1
        営業中を検索
      .banner__text2
        i.Noは飲食店の営業状況を検索できるアプリです。
      .banner__logo
        .banner__logo--apple
          = link_to '#' do
            = image_tag 'material/icon/AppStoreLogo.png', class: 'logoSize'
        .banner__logo--google
          = link_to '#' do
            = image_tag 'material/icon/GooglePlayLogo.png', class: 'logoSize'
  .main__features
    .main__features--title
      .title i.NOの特徴
      .underline
    .main__features--points
      .points-boxes
        .points-box
          .points-box__pic
            = image_tag 'material/icon/favShop.png', alt: 'topPage_favoriteIcon', class: 'png'
          .points-box__text1 お気に入り店舗を保存
          .points-box__text2
            ブックマークからお気に入り店舗の営業状況をすぐに確認できる
        .points-box
          .points-box__pic
            = image_tag 'material/icon/openShop.png', alt: 'topPage_favoriteIcon', class: 'png'
          .points-box__text1 営業中を簡単に検索
          .points-box__text2
            時短営業や急な営業時間変更をリアルタイムで反映され、無駄な外出を避ける
        .points-box
          .points-box__pic
            = image_tag 'material/icon/coronaShop.png', alt: 'topPage_favoriteIcon', class: 'png'
          .points-box__text1 ウィズコロナ対策を確認
          .points-box__text2
            各飲食店の感染防止対策を一目でわかる
  .main__pickup
    .main__pickup--title
      .title ピックアップ店舗
    .main__pickup--shops
      .shops-boxes
        - @pickupShops.each do |shop|
          .shops-box
            = link_to "/shops/#{shop.id}" do
              .shops-box__pic
                = image_tag shop.shop_images.first.image.to_s, alt: 'topPage_shopPics', class: 'shop-pic'
              .shops-box__name 
                = "#{shop.shop_name}"
              .shops-box__condition
                = "上尾市 #{shop.town.town_name}"
            -if shop.condition == 0
              .shopCondition
                .shopCondition__inner
                  閉店中
            -elsif shop.condition == 1
              .shopCondition#condition1
                .shopCondition__inner#condition1-text
                  準備中
            -elsif shop.condition == 2
              .shopCondition#condition2
                .shopCondition__inner#condition2-text
                  まもなく
                  %p 開店
            -elsif shop.condition == 3
              .shopCondition#condition3
                .shopCondition__inner#condition3-text
                  営業中
            -else 
              .shopCondition#condition4
                .shopCondition__inner#condition4-text
                  まもなく
                  %p 閉店
  .main__appBanner2
    .banner
      .banner__text1
        .p だれでもかんたん、    
        .p 飲食店探しを変えるアプリ
      .banner__text2
        今すぐダウンロード！
      .banner__logo
        .banner__logo--apple
          = link_to '#' do
            = image_tag 'material/icon/AppStoreLogo.png', class: 'logoSize'
        .banner__logo--google
          = link_to '#' do
            = image_tag 'material/icon/GooglePlayLogo.png', class: 'logoSize'