.header 
  .header__main
    .header__main--pic
      .appLogo
        =  link_to root_path do
          = image_tag 'material/icon/logo_transparent.png', class: "appLogo__main"
      .user-navi
        = link_to "#" do
          .user-navi__login
            = icon("fas", "sign-in-alt")
            .text ログイン
        = link_to "#" do
          .user-navi__new
            = icon("fas", "user-plus")
            .text 新規登録
  .header__search-bar
    .search-navi
      .search-navi__ageo
        .search-navi__ageo--text 上尾市
      .search-navi__town
        .search-navi__town--text エリアを選択
      .search-navi__searchBtn
        .search-navi__searchBtn--text 検索する